.Quiz {
  /* height: 510px; */
  max-width: 464px;
  border-radius: 24px;
  background-color: white;
  position: relative;
  margin: 0 auto;
}

.Quiz_top {
  position: absolute;
  right: 0;
  top: -75px;
}
