.Home {
  padding: 188px 0 29px 0;
}
.Home_divContent {
  margin: 0 auto;
  max-width: 464px;
}
h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-transform: uppercase;
  color: #F2F2F2;
  margin-bottom: 10px;
}

