.CreatedBy {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  margin: 24px 0;
}

.CreatedBy_createdBy {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #F2F2F2;
  font-family: 'Montserrat', sans-serif;
}

.CreatedBy_me {
  font-weight: 700;
  color: #F2F2F2;
}
