.Question_divData {
  width: 400px;
}

.Question_divQuestion{
  margin-bottom: 32px;
}

.Question_question{
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #2F527B;
}

.Question_divFlag {
  margin-bottom: 28px;
}
.Question_divFlag, 
.Question_divFlag > img {
  width: 84px;
  height: 54px;
  border-radius: 4px;
}
