.Question{
  margin: 68px 0;
  padding: 0 32px;
}

.Question_divData {
  width: 400px;
}

.Question_divQuestion{
  margin-bottom: 32px;
}

.Question_question{
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #2F527B;
}

.Question_divFlag, 
.Question_divFlag > img {
  width: 84px;
  height: 54px;
}

.Question_divOptions {
  display: flex;
  flex-direction: column;
  gap: 31px;
}
.Question_divOption {
  display: flex;
  align-items: center;
  gap: 46px;
  background: #FFFFFF;
  border: 2px solid rgba(96, 102, 208, 0.7);
  border-radius: 12px;
  padding: 10px 19px;
  cursor: pointer;
}
.Question_divLetter {
  width: 19px;
}
.Question_letter {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: rgba(96, 102, 208, 0.8);
}
.Question_option {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba(96, 102, 208, 0.8);
  max-width: 262px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
