.Options {
  padding-bottom: 32px;
}
.Options_divOptions {
  display: flex;
  flex-direction: column;
  gap: 31px;
}
.Options_divOption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  border: 2px solid #6066d0b3;
  border-radius: 12px;
  padding: 10px 19px;
  cursor: pointer;
  transition: all ease 0.3s;
}
.Options_divOption:hover {
  border: 2px solid #F9A826;
  background-color: #F9A826;
}
.Options_divOption.correct {
  border: 2px solid #60BF88;
  background-color: #60BF88;
  pointer-events: none;
}
.Options_divOption.incorrect {
  border: 2px solid #EA8282;
  background-color: #EA8282;
  pointer-events: none;
}
.Options_divOption.played {
  pointer-events: none;
}

.Options_div{
  display: flex;
  align-items: center;
  gap: 44px;
  pointer-events: none;
}
.Options_divLetter {
  width: 19px;
  pointer-events: none;
}
.Options_letter {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: rgba(96, 102, 208, 0.8);
}
.Options_option {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba(96, 102, 208, 0.8);
  max-width: 262px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.Options_divIconResult {
  height: 20px;
  pointer-events: none;
}
